.page{
	width: 100%;
	height: 400px;
	
	padding: 20px;
}
.row{
	width: 90%;
	height: 200px;
	background: red;
	margin-left: 40px;
}
.col{
	width: 20%;
	height: 200px;
	background: green;
	float: left;
}
.title{
	font-size: 30px;
	color: white;
	text-align: center;
	margin-top: 30px;
}
.icon{
	font-size: 50px;
	color: white;
	text-align: center;	
	margin-top: 10px;

}
.cl1{
	background: green;
}
.cl2{
	background: yellow;
}

.cl3{
	background: red;
}	

.cl4{
	background: brown;	
}
.cl5{
	background: pink;
}

.cl6{
	background: gray;
}
.cl7{
	background: pink;
}

.cl8{
	background: violet;
}	

.cl9{
	background: green;	
}
.cl10{
	background: red;
}