.page{
	width: 100%;
	height: 2363px;
	background-color: black;
}
.page .too{
	width: 80%;
	height: 99%;
	background-color: red;
    margin: 0 auto;
}
.page .box{
	width: 100%;
	height: 50px;
	background-color: black;
}
.box .run{
	width: 80%;
	height: 100%;
	margin: 0 auto;
	background-color: white
	margin-left: 20%;
}
.run .ru{
	width: 11.42%;
	height: 100%;
	background-color: black;
	float: left;
}
.page .row{
	width: 100%;
	height: 300px;
	background-color: white;
	float: left;
	background-image: url(pic7.jpg);
	background-size: 1350px 300px;
	background-repeat: no-repeat;
}
img{
	width: 100%;
	height: 100%;
}
.page .rom{
	width: 100%;
	height: 100px;
	background-color: white;
	float: left;
}
.rom .tron{
	width: 25%;
	height: 100%;
	background-color: white;
	float: left;
}
.rom .hi{
	width: 50%;
	height: 100%;
	background-color: white;
	float: left;
}
.rom .chu{
	width: 50%;
	height: 100%;
	background-color: white;
    float: left;
}
li{
	list-style: none;
}
select{
	background: black;
	color: white;
}
li{
	font-size: 15px;
}
.page .an{
	width: 100%;
	height: 250px;
	background-color: white;
	float: left;
}
.an .doan{
	width: 25%;
	height: 100%;
	border-color: white;
	float: left;
}
.page .main{
	width: 100%;
	height: 100px;
	background-color: red;
	float: left;
}
.page .sam{
	width: 100%;
	height: 146px;
	background-color: red;
	float: left;
}
.sam .leah{
	width: 33%;
	height: 100%;
	background-color: red;
	float: left;
}
.ull{
	font-size: 23px;
}
.page .af{
	width: 90%;
	height: 100px;
	background-color: red;
	margin-left: 2%;
	float: left;
}
.af .fa{
	width: 33%;
	height: 100%;
	background-color: red;
	float: left;
	margin: 1px;
}
.fa .hinh{
	width: 50%;
	height: 100%;
	background-color: red;
	float: left;
}
.fa .chu{
	width: 50%;
	height: 100%;
	background-color: red;
	float: left;
}
.page .che{
	width: 100%;
	height: 125px;
	background-color: white;
	float: left;
	margin-top: 4%;
}
.page .safe{
	width: 100%;
	height: 300px;
	background-color: white;
	float: left;
}
.safe .sud{
	width: 25%;
	height: 100%;
	background-color: white;
	float: left;
}
.sud .sume{
	width: 100%;
	height: 60%;
	background-color: white;
	float: left;
}
.sud .suee{
	width: 100%;
	height: 40%;
	background-color: white;
	float: left;
}
.page .loo{
	width: 100%;
	height: 300px;
	background-color: white;
	float: left;
}
.loo .bep{
    width: 40%;
    height: 100%;
    background-color: white;
    float: left;
}
.loo .truong{
	 width: 60%;
    height: 100%;
    background-color: white;
    float: left;
}
.bep .nhabep{
	width: 80%;
	height: 90%;
	background-color: white;
	margin: 0 auto;
}
.page .do{
	width: 100%;
	height: 231px;
	background-color: white;
	float: left;
	background-image: url(pic25.jpg);
	background-size: cover;
}